.wrapper {
    width: 100%;
    display: flex;
    margin-top: 2rem;
  }
  
  .mat-table {
    margin: 0 auto;
  }
  
  .btn-add{
    margin: 2rem 0 1rem 1rem;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 14px;
    background-color: #c23f3d;
    color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
  }
  
  .table-wrapper{
    width: 75%;
  }
  
  .component-wrapper {
    width: 83vw;
    display: flex;
    justify-content: center;
  }
  
  .list-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  
  }
  
  .list-table {
    display: flex;
    background-color: #c23f3d;
    padding: 10px 10px 6px 10px;
    border-radius: 4px;
  }
  
  .mid{
    margin-left: 1.5rem;
  }
  
  .list-links {
    font-size: 25px;
  }