.mat-cell {
  padding: 0 20px 0 20px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-table {
  margin: 0 auto;
}

.btn-add{
  margin-top: 2rem;
  margin-left: 2rem;
}
