<button class="btn-add"mat-raised-button color="primary" mat-button (click)="openDialog()">
        Ajouter un utilisateur
</button>

<div class="container">
<div class="wrapper">
<mat-form-field appearance="standard">
<mat-label>Filtre  </mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Rechercher.." #input>
</mat-form-field>
</div>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
  </ng-container>

  <!-- Nom Column -->
  <ng-container matColumnDef="Referent_RSA">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Referent RSA </th>
    <td mat-cell *matCellDef="let row"> {{row.Referent_RSA}} </td>
  </ng-container>

  <!-- Prenom Column -->
  <ng-container matColumnDef="Date_debut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date début </th>
    <td mat-cell *matCellDef="let row"> {{row.Date_debut | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <!-- Prenom Column -->
  <ng-container matColumnDef="Date_fin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date fin </th>
    <td mat-cell *matCellDef="let row"> {{row.Date_fin | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

    <!-- Date_de_naissance Column -->
    <ng-container matColumnDef="Usagers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usagers </th>
        <td mat-cell *matCellDef="let row"> {{row.Usagers}} </td>
    </ng-container>

        <!-- Date_de_naissance Column -->
        <ng-container matColumnDef="Intitule_Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé de l'action </th>
      <td mat-cell *matCellDef="let row"> {{row.Intitule_Action}} </td>
  </ng-container>
    
        <!-- Date_de_naissance Column -->
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" mat-button (click)="editUser(row)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" mat-button (click)="deleteUser(row.id)">
            <mat-icon>delete</mat-icon>
        </button>
        </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Aucune donnée ne correspond à votre recherche "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[10]" aria-label="page users"></mat-paginator>
</div>

</div>