.header-wrapper{
    display: flex;
}

.header-nav{
    display: flex;
    align-items: center;
    width: 17vw;
    height: 100vh;
    background-color: #c23f3d;
}

.nav-links{
    font-size: 22px;
    line-height: 2;
}